DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/postgres
SECRET_AWS_ACCESS_KEY=
SECRET_AWS_SECRET_KEY=
JWT_SECRET=
NODE_ENV=development
GOOGLE_CREDENTIALS=
API_KEY=
RESEND_API_KEY=
ENCRYPTION_KEY=
IV=
ANTHROPIC_API_KEY=
EMAIL_DOMAIN=
APP_DOMAIN=localhost:3000
DATASOURCE_S3_BUCKET_NAME=
WORKSPACE_IMAGES_BUCKET_NAME=
AWS_SSM_SECRET_PREFIX=
DEMO_ASSISTANT_ID=